.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/* NOTES CSS */

.staves{
    stroke: #000;
    stroke-width: 0.50px;
    opacity:0.10
    stroke-linecap: round;
}
.stem{
    stroke: #000;
    stroke-width: 0.50px;
    opacity:0.5;
    stroke-linecap: round;
}

/* SYSTEM CSS */
.voronoi-polygons {
  fill: red;
  opacity: 0.0;
  stroke: black;
  stroke-width: 0.25;
}

.note-neutral{
    stroke: black;
    stroke-width:0.25;
    opacity: 1;
}
.note-hover{
    stroke: black;
    stroke-width:0.50px;
    opacity:1;
}

.note-hover-region{
    stroke: black;
    stroke-width:0.25;
    opacity:0.80;
}
.note-fade{
    opacity:0.35;
}

/* MAP CSS */
.state-neutral{
    stroke: #fff;
    stroke-width:0.25;
    opacity: 0.80;
}
.state-hover{
    stroke: black;
    stroke-width:0.50px;
    opacity:1;
}

.state-hover-region{
    stroke: black;
    stroke-width:0.25;
    opacity:0.60;
}
.state-fade{
    opacity:0.35;
}


/*
.stars{
    opacity:0.0;
}
.stars-background{
    opacity:0.0;
}


