.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.stave{
    stroke: #000;
    stroke-width: 0.50px;
    opacity:0.5
    stroke-linecap: round;
}
.note{
    stroke: #000;
    stroke-width: 0.25px;
    opacity: 1;
}
.stem{
    stroke: #000;
    stroke-width: 0.50px;
    opacity:0.5;
    stroke-linecap: round;
}
.voronoi{
  fill: none;
  pointer-events: all;
  stroke: red;
  stroke-opacity:0.00;
  stroke-width:0.25px;
}

.flags{
    stroke: #000;
    fill: none;
    stroke-width: 0.50px;
    opacity:0.0;
    stroke-linecap: round;
}
.arc{
    stroke: #000;
    fill:none;
    stroke-width: 0.50px;
    opacity:0.5;
    stroke-linecap: round;
}
